.button{
    display: flex;
    justify-content: center;
    margin: 2rem;
    width: 100%;
}

.button-style{
    background-color: black;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 5px;
    box-shadow: 0 2px 8px rgb(73, 9, 9);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.button-style:hover{
    color: rgb(199, 37, 37);
}