/* .form{
   display: flex;
   margin: 0 0 0 2rem;
   justify-content: center;
   position: relative;
   top: -50px;
}

.form label{
    margin: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: bolder;
}

.form input, select{
    display: block;
    width: 200%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-top: 0.66rem;
    margin-bottom: 0.5rem;
} */

